@import url('common.css');

body {
    padding-top: 100px; 
}

main {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
    position: relative;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.hero-text {
    width: 60%;
}

.hero-image {
    width: 35%;
    text-align: right;
}

.hero-image img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    color: #5d4d7b;
    text-transform: uppercase;
    font-family: 'YesevaOne-Regular';
    margin-bottom: 20px;
}

h1-1 {
    font-size: 1em;
    color: #5d4d7b;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: left;
}

.intro {
    font-family: 'ABeeZee-Regular';
    font-size: 1em;
    color: #5d4d7b;
    line-height: 1.5;
    margin-bottom: 25px;
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
}

.intro:hover {
    transform: scale(1.03);
}

h2 {
    font-size: 1.8em;
    color: #5d4d7b;
    text-transform: uppercase;
    font-family: 'YesevaOne-Regular';
    margin-top: 50px;
    margin-bottom: 25px;
}

.section-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #5d4d7b;
    line-height: 1.5;
    margin-bottom: 25px;
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
}

.section-content:hover {
    transform: scale(1.03);
}

.value-item,
.quality-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.value-icon,
.quality-icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    flex-shrink: 0;
}

.value-icon img,
.quality-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight {
    font-weight: bold;
    color: #5d4d7b;
}

.section-content p em {
    font-style: italic;
    color: #5d4d7b;
}

.section-content ul {
    list-style-type: none;
    padding-left: 2em;
}

.section-content ul li {
    padding-left: 1em;
    text-indent: 0em;
    position: relative;
}

.section-content ul li:before {
    content: "\2022";
    position: absolute;
    left: 0;
    color: #5d4d7b;
}
