@import url('common.css');

body {
    padding-top: 100px; 
}

main {
    padding: 50px 20px;
    max-width: 800px;
    margin: auto;
    position: relative;
}

h1 {
    font-size: 2.5em;
    color: rgb(93, 77, 123);
    text-transform: uppercase;
    font-family: 'YesevaOne-Regular';
    text-align: left;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.intro {
    font-family: 'ABeeZee-Regular';
    font-size: 1em;
    color: rgb(93, 77, 123);
    line-height: 1.5;
    margin-bottom: 25px;
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
}

.intro:hover {
    transform: scale(1.05);
}

.watermark {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 100%;
    height: auto;
    opacity: 0.1;
    z-index: 0;
}

h2 {
    font-size: 1.8em;
    color: rgb(93, 77, 123);
    text-transform: uppercase;
    font-family: 'YesevaOne-Regular';
    margin-top: 50px;
    margin-bottom: 25px;
}

.section-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: rgb(93, 77, 123);
    line-height: 1.5;
    margin-bottom: 25px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 10px;
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
}

.section-content:hover {
    transform: scale(1.05);
}

.block-watermark {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: auto;
    height: 100%;
    opacity: 0.1;
    z-index: 0;
}

.highlight {
    font-weight: bold;
    color: rgb(93, 77, 123);
}

.section-content ul {
    list-style-type: none;
    padding-left: 2em; 
}

.section-content ul li {
    padding-left: 1em;
    text-indent: 0em;
    position: relative;
}

.section-content ul li:before {
    content: "\2022"; 
    position: absolute;
    left: 0;
    color: rgb(93, 77, 123);
}

h1-1 {
    font-size: 0.9em;
    color: rgb(93, 77, 123);
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
    text-align: center;
    font-weight: bolder;
}