  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Cormorant-Regular, sans-serif; 
  }

  @font-face {
    font-family: 'Seaside_Resort_NF';
    src: url('../font/Seaside_Resort_NF.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Cormorant-Regular';
    src: url('../font/Cormorant-Regular.ttf') format('truetype');
  }
  
  
*, *::before, *::after {
    box-sizing: border-box;
  }

  .content, .content * {
    max-width: 100%;
    box-sizing: border-box;
  }

  .content p, .intro {
    font-family: 'Cormorant-Regular', sans-serif;
    font-size: large;
  }

  .active {
    background-color: #000000;
    color: #fff;
  }
  

  .grid-container {
    display: grid;
    grid-template-areas: 
      "navbar header"
      "navbar content"
      "navbar footer";
    grid-template-columns: 200px 1fr; 
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }

  .navbar {
    grid-area: navbar;
    background-color: #333;
    padding: 2px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  .navbar a {
    font-family: 'Seaside_Resort_NF', sans-serif;
    color: white;
    font-size: large;
    text-decoration: none;
    padding: 10px;
    display: block;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f19ec9;
    text-align: center;
  }

  .content {
    background-color: #333;
    color: #ffffff;
    grid-area: content;
    padding: 8px;
  }

  .footer {
    grid-area: footer;
    background-color: #f19ec9;
    text-align: center;
  }
  
  .float-image {
    float: right;
    margin-left: 20px;
    width: 300px; 
    height: auto;
  }
  

  @media (max-width: 768px) {
    .grid-container {
      grid-template-areas: 
        "header"
        "navbar"
        "content"
        "footer";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr auto;
    }
  
    .navbar {
      position: sticky;
      top: 75px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
      margin: 0;
      z-index: 1;
      font-size: 16px; 
    }

    .navbar a {
      flex:1;
      text-align: center;
      padding: 10px;
      font-size: 16px; 
      display: block;
    }

    .header {
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 2;
      height: 75px;
    }
    
    .content {
      margin-left: 0;
      padding: 20px;
    }

    .responsive-image {
      display: none;
    }
  }
