body, html {
    font-family: 'Cormorant-Regular', sans-serif;
  }
  
  .intro::first-letter {
    font-size: 2em; 
    font-weight: 600; 
  }

  .content img, .content p {
    margin-bottom: 10px;
    margin-top: 30px;
  }

  