body, html {
    font-family: 'Cormorant-Regular', sans-serif;
  }
  
  .intro::first-letter {
    font-size: 2em; 
    font-weight: 600; 
  }

  @font-face {
    font-family: 'Cormorant-Regular';
    src: url('../font/Cormorant-Regular.ttf') format('truetype');
  }
  
  .content p, .intro {
    font-family: 'Cormorant-Regular', sans-serif;
    font-size: large;
  }
  
  .intro::first-letter {
    font-size: 2em;
    font-weight: 600;
  }

  .grid-container {
    display: grid;
    grid-template-areas: 
      "navbar header"
      "navbar content"
      "navbar footer";
    grid-template-columns: 200px 1fr; /* Adjust the width of the navbar as needed */
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }

  .navbar {
    grid-area: navbar;
    background-color: #333;
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
  }

  .header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f19ec9;
    text-align: center;
  }

  .content {
    grid-area: content;
  }

  .footer {
    grid-area: footer;
    background-color: #f19ec9;
    text-align: center;
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-areas: 
        "header"
        "content"
        "footer";
      grid-template-columns: 1fr;
    }
  
    .navbar {
      position: relative;
      height: auto;
    }
  
    .float-image {
      float: none;
      display: block;
      margin: 0 auto; 
      width: 50%;
    }
  }
  
  .float-image {
    float: left;
    margin-right: 20px;
    width: 300px; 
    height: auto;
  }
  
  .content img, .content p {
    margin-bottom: 10px;
    margin-top: 10px;
  }